body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: rgb(167, 163, 163);
}

.titulo {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
}
.preencherForm {
  display: flex;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border: black solid 1px;
  justify-content: space-around;
  align-items: stretch;

}

.card {
  margin: 10px;
  padding: 10px;
  background-color: rgb(202, 202, 206);
  width: 80%;
  line-height: 150%;
  font-size: 14px;
}

.topic-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
